.ax_default {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.line {
}
.primary_button {
  color:#FFFFFF;
}
.box_3 {
}
.shape {
}
.second_color {
}
.ellipse {
}
.menu_item {
}
.icon {
}
.image {
}
.button {
}
.image1 {
}
.placeholder {
}
.primary_button1 {
  color:#FFFFFF;
}
.heading_1 {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  letter-spacing:0.4px;
  color:#FFFFFF;
  text-align:left;
}
.heading_6 {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:13px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.arrow {
}
.text_link_mouse_down {
}
.radio_button {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.title__web_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:56px;
  color:#333333;
}
.text_field {
  text-align:left;
}
.flow_shape {
}
.connector {
}
.item_active {
  color:#FFFFFF;
  text-align:center;
  line-height:12px;
}
.item_inactive {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#979C9E;
  text-align:center;
  line-height:12px;
}
.line1 {
}
.link_button {
  color:#169BD5;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.text_link1 {
  color:#0000FF;
}
.text_link_mouse_over1 {
}
.text_link_mouse_down1 {
}
.shape1 {
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
}
.paragraph1 {
  text-align:left;
}
.image2 {
  color:#000000;
}
.body_text__web_ {
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.caption_1 {
  font-family:"Open Sans Light", "Open Sans", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.caption_2 {
  font-family:"Open Sans Light", "Open Sans", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
.title__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:34px;
  text-align:left;
}
.heading_1__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
.heading_2__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
.heading_3__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.headline__app_ {
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.body_text__app_ {
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.callout__app_ {
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.default_button {
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
.cta_button {
  font-family:"Open Sans SemiBold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.main_color {
}
.transparent {
}
.clickable_items_with_border {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#FFFFFF;
  text-align:left;
}
.text_fields {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#FFFFFF;
  text-align:left;
}
.c_breadcr_overflow_menu {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#525252;
  text-align:left;
  line-height:18px;
}
.c_content_switcher_left {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_content_switcher_mid {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_content_switcher_right {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_content_switcher__selected {
  color:#FFFFFF;
}
.c_dropdown_input_inline {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_focus {
}
.c_focus_control {
  text-align:left;
  line-height:normal;
}
.c_form_reqmt_border {
}
.c_form_reqmt_label {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#DA1E28;
  text-align:left;
  line-height:16px;
}
.c_link {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#0F62FE;
  text-align:left;
  line-height:18px;
}
.c_link__hover {
  color:#054ADA;
}
.c_placeholder {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#525252;
  text-align:center;
}
.c_select_input {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_select_option_bg {
  font-family:"Helvetica Neue", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.c_select_option_label {
  font-family:"Helvetica Neue", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#565656;
  text-align:left;
  line-height:16px;
}
.c_shadow_0_2px_6px_0__0_3_ {
}
.c_spacer {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:center;
  line-height:18px;
}
.c_tab {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_tab__disabled {
  color:#CACACA;
}
.c_tab__hover {
  color:#161616;
}
.c_tab__selected {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#161616;
}
.c_text_input__disabled {
  color:#C6C6C6;
}
.c_text_input__focused {
}
.c_typo__body-short-01 {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__heading-01 {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__helper-text-01 {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#6F6F6F;
  text-align:left;
  line-height:16px;
}
.c_typo__label-01 {
  font-family:"IBM Plex Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#393939;
  text-align:left;
  line-height:16px;
}
.c__disabled-01 {
  color:#C6C6C6;
}
.c__disabled-02 {
  color:#8D8D8D;
}
.c__disabled-02_text {
  color:#C6C6C6;
}
.c__focus {
}
.c__hover-ui {
  color:#161616;
}
.c__hover-ui_input {
  color:#161616;
}
.c__icon-01 {
}
.c__inverse-01 {
}
.c__support-01 {
}
.c__text-01 {
  color:#161616;
}
.c__ui-01 {
}
.c__ui-02___ui-03_line {
}
.c__ui-03_line {
}
.horizontal_line {
}
.text_button {
  color:#02A7F0;
}
._contained_button {
  color:#FFFFFF;
}
._helper_text {
  font-size:12px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
}
.default_text {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
.default_subtext {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#979C9E;
  text-align:left;
  line-height:16px;
}
.primary_button_color {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.primary_button_color_small {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.dialog_bg {
}
.enabled_text {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
.disabled_text {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#979C9E;
  line-height:12px;
}
.timer {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
.icon_inactive {
}
textarea, select, input, button { outline: none; }
